.medium-spring-green {
  color: rgb(0, 211, 144); /* Medium Spring Green */
}
.deep-pink {
  color: rgb(244, 48, 152); /* Deep Pink */
}
.black {
  color: rgb(29, 35, 42); /* Black */
}
.alice-blue {
  color: rgb(236, 249, 255); /* Alice Blue */
}
.medium-slate-blue {
  color: rgb(96, 93, 255); /* Medium Slate Blue */
}
.black {
  color: rgb(25, 30, 36); /* Black */
}
